* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  left: -255px;
  width: 255px;
  float: left;
  height: 100%;
  background: #042331;
  overflow: scroll;
  top: 0;
  transition: all 0.5s ease;
}
.sidebar > ul li {
  list-style: none !important;
}
.sidebar header {
  font-size: 30px;
  font-weight: bolder;
  color: white;
  line-height: 70px;
  text-align: center;
  user-select: none;
  background: #063146;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 15px;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
  text-decoration: none;
}
ul li:hover a {
  padding-left: 40px;
  color: aliceblue !important;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}
label #btn {
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
}
label #cancel {
  position: fixed;
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #749cb1;
  padding: 4px 9px;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 255px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 195px;
}
#check:checked ~ #main-doc {
  margin-left: 255px;
}
.head {
  font-size: xx-large;
  font-weight: bolder;
  margin: 0px;
}
#main-doc {
  width: 100% !important;
  padding: 10px;
  transition: all 0.5s;
}
section {
  margin: 20px;
}
.highlight code pre {
  text-align: center;
  margin: 30px;
  background-color: rgb(224, 222, 222);
  padding: 20px 20px 0px 0px;
  font-size: larger;
}
table {
  display: table;
  border-spacing: 2px;
  margin: 30px 20px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(245, 245, 245);
}
th,
td {
  padding: 10px;
}
.bg {
  background-color: rgb(253, 253, 177);
  padding: 20px;
  margin: 20px;
}
section h4,
section h3,
section h5 {
  margin: 25px 0px 25px 0px;
}
/*  X-Small devices (portrait phones, less than 576px)
    No media query for `xs` since this is the default in Bootstrap

    Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
